    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,900&family=Roboto:wght@400;900&display=swap");

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    /* overflow: hidden; */
    /* background-image: linear-gradient(to right, #05194B , #0F054B); */
    background-image: linear-gradient(to bottom, #05194bd7, #20054be1),
        url("./assetes/cool-background.png");
    background-size: cover;
    }

    .container{
        width: 100vw;
        height: 100vh;
    }
    nav i {
        color: white;
        font-size: 2.5rem;
        cursor: pointer;
        transition: 0.2s linear;
    }
    
    nav i:hover{
       font-size: 4.5rem;
    }

    .navbar{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 100%;
        background-image: linear-gradient(to left, #05194bdc, #26054b 74%) , url(./img/background.jpg);
        /* background-image: linear-gradient(315deg, #43d3ffde 0%, #1b1b1be7 74%); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s linear;
        flex-wrap: wrap;
        z-index: 2;
    }
    

    .menu__two{
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    .warning{
      background-color: rgb(255, 78, 78);
      padding: 20px;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    
    .warning i {
      color: #ffb847;
      font-size: 2rem;
    }
    
    .warning p{
      font-size: 1.2rem;
      color: white;
      font-family: 'Roboto Mono', monospace;
    }
    
    .menu li {
      list-style: none;
    }
    
    .menu a{
        text-decoration: none;
        font-size: calc(1vw + 2rem);
        font-weight: 600;
        font-family: 'Roboto Mono', monospace;
        margin: 0.5rem 2rem;
        color: white;
        transition: 0.2s ease-in-out;
        
    }
    
    .menu a:hover{
        font-size: calc(1vw + 2.5rem);
        /* color: brown; */
        color: #0087ca;
    }

    .nav__links{
        display: inline-block;
        position: relative;
        color: #0087ca;
    }

    .nav__links:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .nav__links:hover:after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    /* .search-area{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: -100%;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        transition: 0.2s linear;
    }
    
    .search-area.active{
        top: 0;
    } */
    
    /* .sec_1{
        display: none;
    } */
    .navbar.active {
        left: 5%;
    }
    
    #close i{
        color: white;
        margin-left: 1em;
        font-size: 2.5rem;
        cursor: pointer;
        transition: 0.3s linear;
    }
    
    #close i:hover{
      font-size: 4.5rem;
      color: tomato;
    }

    .google-btn {
        margin: 20px;
        width: 80%;
        min-width: 184px;
        max-width: 184px;
        height: 42px;
        background-color: #fcfcfc;
        border-radius: 2px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
        cursor: pointer;
        cursor: hand;
        align-self: center;
        user-select: none;
        transition: all 400ms ease 0s;
        display: flex;
    }
    .google-btn .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        user-select: none
    }
    .google-btn .google-icon-svg {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
        user-select: none
    }
    .google-btn .btn-text {
        float: right;
        margin: 11px 14px 40px 40px;
        color: #757575;
        font-size: 14px;
        letter-spacing: .2px;
        font-family: Roboto;
        user-select: none
    }
    .google-btn:hover {
        box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
        user-select: none
    }
    .google-btn:active {
        box-shadow: 0 1px 1px #757575;
        background: #F8F8F8;
        color: #fff;
        user-select: none
    }


    .container nav {
    width: 75vw;
    min-height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: white;
    }



    nav img {
    width: 7rem;
    }

    h1 {
    font-size: 2rem;
    font-weight: 400;
    }

    span {
    font-weight: 800;
    }

    .container__main {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .login__form {
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .login_isometric_img img {
    width: 40em;
    }

    /* input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 2px solid white;
        caret-color: white;
        color: white;
        margin-top: 2em;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;

    }

    input::placeholder { 
        font-family: 'Roboto', sans-serif;
        color: white;
        opacity: 0.5; 
    } */

    .form__group {
    font-family: "Roboto", sans-serif;
    position: relative;
    padding: 15px 0 0;
    margin-top: 2em;
    width: 70%;
    }

    .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: 0;
    font-size: 1.2rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    }

    .form__field::placeholder {
    color: transparent;
    }
    .form__field:placeholder-shown ~ .form__label {
    font-size: 1.2rem;
    cursor: text;
    top: 20px;
    }
    .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
    }
    .form__field:focus {
    padding-bottom: 6px;
    font-weight: 300;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
    }
    .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    }
    /* reset input */
    .form__field:required,
    .form__field:invalid {
    box-shadow: none;
    }

    .login__container {
    width: 30vw;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #3b37ff, #9429ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 10px 40px 10px 40px;
    }
    .forgot_password {
    margin-top: 0;
    }

    h2 {
    font-family: "Lato", sans-serif;
    color: white;
    font-weight: 200;
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 1em;
    }

    .inp-btn {
    background-color: transparent;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 10px 20px;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    }

    .inp-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    }

    /* .forgot_password{
        margin-top: ;
    } */


    h3{
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
        font-style: italic;
        color: white;
        /* background-color: tomato; */
        padding: 4px;
        border-radius: 2px;
        border: 2px solid tomato;
    }


    .incorrect{
        display: block;
        margin-top: 0.5em;
    }

    .login__form img {
    width: 3.7rem;
    }

    @media screen and (max-width: 1025px) {
       
        
    .login_isometric_img {
        display: none;
        }
        
    .login__form {
        width: 70vw;
        }
        
    /* .container__main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        } */
        
        .login__container {
            width: 80%;
            margin: 0 auto;
            background-image: linear-gradient(to bottom, #3b37ff, #9429ff);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px 40px 10px 40px;
        }
    
    }


    @media screen and (max-width: 540px) {

        nav img {
            width: 5rem;
            }
        
            h1 {
            font-size: 1.6rem;
            font-weight: 400;
            }
        
            span {
            font-weight: 800;
            }

        .inp-btn {
            background-color: transparent;
            text-decoration: none;
            color: white;
            border: 1px solid white;
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-size: 1rem;
            padding: 10px 20px;
            margin-top: 1.2em;
            margin-bottom: 0.6em;
            border-radius: 5px;
            transition: 0.2s ease-in-out;
            }
        
            .inp-btn:hover {
            cursor: pointer;
            background-color: white;
            color: black;
            }
            .form__field {
                font-family: inherit;
                width: 100%;
                border: 0;
                border-bottom: 2px solid #fff;
                outline: 0;
                font-size: 1rem;
                color: #fff;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s;
                }
        .login__form img {
            width: 2.5rem;
        }

        .form__group {
            font-family: "Roboto", sans-serif;
            position: relative;
            padding: 15px 0 0;
            margin-top: 2em;
            width: 80%;
            }

        .form__field:placeholder-shown ~ .form__label {
            font-size: 1rem;
            cursor: text;
            top: 20px;
        }

        .login_isometric_img {
            display: none;
        }
            
        .login__form {
            width: 100vw;
        }
            
            
            .login__container {
                width: 80%;
                margin: 0 auto;
                background-image: linear-gradient(to bottom, #3b37ff, #9429ff);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 10px 40px 10px 40px;
            }
        
        }