<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cnf_email.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="main__container">
            <h1>
                Sign Up
            </h1>
            <img src="../assets/email (2).png" alt="">
            <h2>Confirm your email address
            </h2>
            <p>Check your email and locate the confirmation email. <br>
                Follow the steps in the email to confirm your email address.</p>
        </div>
    </div>
</body>
</html>