<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landing.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <div>
                <img src="./assets/THTlogo.png" alt="" class="logo">
            </div>
            <div class="nav__links">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Blogs</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <%= is %>
            <% if(is === 1){%>
                <div class="my_courses_tab">
                    <a href="">My Courses</a>
                </div>
                <% } else { %>

                <div class="login_signup_elements">
                    <a href="">Login</a>
                    <a href="">SignUp</a>
                </div>
                <% } %>


        </nav>
    </div>
</body>
</html>