<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Login -- TechHack</title>
</head>
<body>
    <div class="container">
        <nav>
            <img src="/assets/THTlogo.png" alt="">
            <h1><span>Tech</span>Hack</h1>
        </nav>
        <div class="container__main">
            <div class="login__form">
                <form class="login__container">
                    <img src="/assets/user.png" alt="">
                    <!-- <input type="email" placeholder="">  
                    <input type="text"> -->
                    <div class="form__group field">
                        <input type="email" class="form__field" placeholder="Email" name="email" id='email' required autocomplete="off"/>
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <div class="incorrect">
                        <h3>Incorrect Email/Password</h3>
                    </div>
                    <div class="form__group field">
                        <input type="password" class="form__field" placeholder="Password" name="password" id='password' required />
                        <label for="password" class="form__label">Password</label>
                    </div>
                    <div class="incorrect">
                        <h3>Incorrect Email/Password</h3>
                    </div>
                    <h2>Don't have an account? <span>Sign Up</span> </h2>
                    <input type="submit" value="Login" class="inp-btn">

                    <h2 class="forgot_password">or <span>Forgot Password</span></h2>
                </form>
            </div>
            <div class="login_isometric_img">
                <img src="/assets/Coding _Isometric.png" alt="">
            </div>
        </div>

    </div>
</body>
</html> 