<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/rst_password.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="main__container">
            <h1>
                Reset Password
            </h1>
            <form action="">
                <div class="form__group field">
                    <input type="password" class="form__field" placeholder="Password" name="password" id='password' required autocomplete="off"/>
                    <label for="password" class="form__label">New Password</label>
                </div>
                <div class="form__group field">
                    <input type="password" class="form__field" placeholder="cnf_Password" name="cnf_password" id='cnf_password' required autocomplete="off"/>
                    <label for="cnf_password" class="form__label">Confirm Passowrd</label>
                </div>
                <input type="submit" value="Reset" class="inp-btn">
                <div>
                    
                </div>
            </form>
        </div>
    </div>
</body>
</html>